header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}
section{
    
    background-color:rgb(238, 235, 232);
    min-width: 320px;
    max-width: 450px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.66);
    padding: 20px
}
body{
    background-color: rgba(0, 0, 255, 0.701);
}
#botao:hover{
    background-color: rgba(0, 0, 255, 0.533);
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}
footer{
    text-align: center;
    font-style: italic;
}